html, body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: Lato;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    line-height: .9;
}

h2{
    color: rgb(200,16,46);
    font-size: 4rem;
}

hr{
    max-width: 100%;
    border-width: 1px;
    border-color: rgb(200,16,46);
}

@font-face {
    font-family: 'Lato';
    src: url("../Font/Lato-Regular.ttf");

}

.bg-menu{
    background: rgba(0,0,0,0.7);
}

.bgGris{
    background-color: rgba(212,212,212,.3);
}
.bgBlanc{
    background-color: white;
}

.btn{
    border-radius: 0.38em;
    font-size: 1em;
    color: white;
    background-color: rgb(200,16,46);
    box-shadow: 0em 0.15em 0.65em 0em rgba(0,0,0,0.25)
}

.carreG{
    background-color: rgba(212,212,212,.8);
}

.fa-li{
    color: rgb(200,16,46);
}

.fas{
    color: rgb(200,16,46);
}

.h-65{
    height: 65%
}

.h-400{
    height: 400px;
}

.h-576{
    height: 576px;
}

.imageRonde {
    width: 20%;
    margin: 0 auto;
    border-radius: 50%;
}
.imageRondeMenu{
    width: 5%;
    margin: 0 auto;
    border-radius: 50%;
}

#mosaique1{
    background-image: url("../img/Cartes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique2{
    background-image: url("../img/Kiosque.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique3{
    background-image: url("../img/Jardins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique4{
    background-image: url("../img/LaBiscornue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique5{
    background-image: url("../img/Zoom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique6{
    background-image: url("../img/Affiche.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.mosaiqueTitre{
    background: rgba(0,0,0,0.8);
    font-size: 2rem;
    color: white;
    opacity: 0;
    height: 300px;
}

.mosaiqueTitre:hover{
    opacity: 1
}

.parallax{
    background-image: url("../img/Cover.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url("../img/Cegep.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
