html, body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family:Lato;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8rem;
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url("../Font/Lato-Regular.ttf");
}

.bg_p2{
    background-image: url("../img/Cover_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg_p3{
    background-image: url("../img/Cover_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgGris{
    background-color: rgba(212,212,212,.3);
}

.depassepas{
    max-height: 100%;
    max-width: 100%;
}

.fab{
    color: black;
}

.h-550{
    max-height: 550px;
}

.h-700{
    max-height: 700px;
}

.hrcolor{
    background: white;
}

.imagecarousel{
    max-height: 660px;
}

.imageRondeMenu{
    width: 45px;
    margin: 0 auto;
    border-radius: 50%;
}

.imgJumbotron{
    max-height: 300px;
}

.navbar {
    background: white;
}

.parallax{
    background-image: url("../img/Cover.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titre{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 4rem;
}

.titre_2_3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
}

@media only screen and (max-width: 575px) {
    .parallax {
        background-image: url("../img/Cover_xs.jpg");
    }
    .bg_p3{
        background-image: url("../img/Cover_3_xs.jpg");
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .parallax {
        background-image: url("../img/Cover_md.jpg");
    }
    .bg_p3{
        background-image: url("../img/Cover_3_md.jpg");
    }
}

@media screen and (min-width: 700px) and (max-width: 1500px){
    .titre, .titre_2_3{
        font-size: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .titre, .titre_2_3{
        font-size: 2.3rem;
    }
}


/****************** Section du Navbar *******************/

.navbar {
    background-color: #ffffff;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #c5c5c5;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #c5c5c5;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #c5c5c5;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c5c5c5;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c5c5c5;
    background-color: #000000;
}
.navbar .navbar-toggle {
    border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #c5c5c5;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c5c5c5;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c5c5c5;
        background-color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c5c5c5;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c5c5c5;
        background-color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c5c5c5;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c5c5c5;
        background-color: #000000;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c5c5c5;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c5c5c5;
        background-color: #000000;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c5c5c5;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c5c5c5;
    background-color: #000000;
}