html, body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family:Lato;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    line-height: .9;
    font-family: LatoB;
}

h2{
    color: rgb(200,16,46);
    font-size: 3rem;
    font-family: LatoB;
}

hr{
    max-width: 100%;
    border-width: 1px;
    border-color: rgb(200,16,46);
}

@font-face {
    font-family: 'Lato';
    src: url("../Font/Lato-Regular.ttf");
}

@font-face {
    font-family: 'LatoB';
    src: url("../Font/Lato-Bold.ttf");
}

.bg-menu{
    background: rgba(0,0,0,0.7);
}

.bgGris{
    background-color: rgba(212,212,212,.3);
}

.btn{
    border-radius: 0.38em;
    font-size: 1em;
    color: white;
    background-color: rgb(200,16,46);
    box-shadow: 0em 0.15em 0.65em 0em rgba(0,0,0,0.25)
}

.carreG{
    background-color: rgba(212,212,212,.8);
    height: 576px;
}

.fa-cog{
    color: white;
}

.fa-li{
    color: rgb(200,16,46);
}

.fab{
    color: white;
}

.fasR{
    color: rgb(200,16,46);
}

.h-576{
    height: 576px;
}

.imageRonde {
    width: 20%;
    margin: 0 auto;
    border-radius: 50%;
}
.imageRondeMenu{
    width: 45px;
    margin: 0 auto;
    border-radius: 50%;
}

#mosaique1{
    background-image: url("../img/Cartes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique2{
    background-image: url("../img/Kiosque.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique3{
    background-image: url("../img/Jardins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique4{
    background-image: url("../img/LaBiscornue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#mosaique5{
    background-image: url("../img/Zoom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.mosaiqueTitre{
    background: rgba(0,0,0,0.8);
    font-size: 2rem;
    color: white;
    opacity: 0;
    height: 300px;
}

.mosaiqueTitre:hover{
    opacity: 1
}

.parallax{
    background-image: url("../img/Cover.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url("../img/Cegep.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/****************** Section du Navbar *******************/

.navbar {
    background-color: #c8102e;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #000000;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #000000;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #c8102e;
    border-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #000000;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}