/**
Yannick Poulin
Style.css
Le 15 mars 2019
 **/

body {
    background-image:url("img/Cégep Trois-Rivières.png");
    background-repeat: no-repeat;
    background-color: cornsilk;
    width: 900px;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1,h2 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

a:link {
    color: deepskyblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


