/**
Yannick Poulin
Style.css
Le 15 mars 2019
 **/

body {
    background-image:url("img/Cégep Trois-Rivières.png");
    background-repeat: no-repeat;
    background-color: cornsilk;
    width: 900px;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 15px;
}

img:hover {
    box-shadow: 10px 10px white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1,h2 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

a:link {
    color: deepskyblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table,th,td {
    border: 4px solid black;
    color: red;
    font-size: 24px;
    text-align: center;
}

ul {
    font-size: 30px;
    color: red;
}

li {
    font-size: 30px;
    color: red;
}

