html, body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: "Montserrat Regular";
}

h1{
    font-size: 5rem;
    color: white;
    font-family: "Montserrat ExtraBold";
}

h2{
    font-size: 4rem;
    color: rgb(102,164,127);
    font-family: "Montserrat Black";
}

h3{
    font-family: "Montserrat SemiBold";
    color: white;
    font-size: 3rem;
    opacity: 0.8;
    text-shadow: -1px 0 gray, 0 1px grey, 1px 0 grey, 0 -1px grey;
    z-index: 1;
}

h4{
    font-family: "Montserrat Bold";
    color: white;
    font-size: 2.5rem;
}

h5{
    font-family: "Montserrat SemiBold";
    color: white;
    font-size: 1.5rem;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("../Font/MontserratExtraBold.ttf");
}

@font-face {
    font-family: 'Montserrat Black';
    src: url("../Font/MontserratBlack.ttf");
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url("../Font/MontserratSemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../Font/MontserratBold.ttf");
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url("../Font/MontserratRegular.ttf");
}

hr{
    border-top: 1px solid white;
}


.bgBleu{
    background-color: rgba(42,125,169,0.3);
}

.bgBleuFooter2{
    background-color: rgb(1,111,170);
}

.bgBleuFooter{
    background-color: rgba(42,125,169,0.7);
}

.bgAlaune{
    background-image: url("../img/JeuneGarconContent.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.bgImage1 {
    background-image: url("../img/Natation.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImage2{
    background-image: url("../img/Aquaforme.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.bgImage3{
    background-image: url("../img/Sauveteur.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImageNatationIndi{
    background-image: url("../img/EnfantPlanche.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImageNatationGroupe{
    background-image: url("../img/JuniorAmies.jpg");
    height: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgVert{
    background-color: rgb(102,164,127);
}

.bgVertImportant{
    background-color: rgb(102,164,127);
    border-radius: 2em;
    border-width: 2px;
}

.btnVert{
    border-radius: 0.38em;
    background-color: rgb(102,164,127);
    border-width: 2px;
    font-size: 1em;
    color: white;
}

.btnBlanc{
    border-radius: 0.38em;
    border-color: white;
    border-width: 2px;
    font-size: 1em;
    color: white;
}

.btnBlancInscription{
    border-radius: 0.38em;
    border-color: white;
    border-width: 2px;
    font-size: 2em;
    font-family: "Montserrat SemiBold";
    color: white;
}

.carte{
    max-height: 100%;
    max-width: 100%;
}

.containerFiltre{
    position: relative;
}

.CroixRouge{
    height: 50px
}

.fab{
    color: white;
}

.filtre{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
}

.textContact{
    font-family: "Montserrat Regular";
}

.h-15{
    height: 15%;
}
.h-20{
    height: 20%;
}
.h-35{
    height: 35%;
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

.h-85{
    height: 85%;
}

.hamburger{
    color: white;
}

.hrVert{
    border-top: 1px solid;
    border-color: rgb(102,164,127);
}

.imageMenu{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.imageHauteur{
    height: 50%;
}

.parallax{
    background: url("../img/bullesAccueil.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

.parallaxNatation{
    background: url("../img/Natation.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: center;
}

.textBlanc{
    color: white;
    z-index: 1;
}

.textNoir{
    color: black;
    z-index: 1;
}

.textMenu{
    font-size: 1.3rem;
    font-family: "Montserrat SemiBold";

}

/****************** Section du pagination *******************/

.page-item{
    color: rgb(102,164,127)
}

.pagination{
    font-size: 2em;
    font-family: "Montserrat SemiBold";
}
/****************** Section du Navbar *******************/

.navbar {
    background-color: rgba(1,111,170, 0.7);
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #000000;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #000000;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: rgba(1,111,170,0.7);
    border-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #000000;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
}